<!DOCTYPE html>
<html>
    <head>
        <title>
            privacy notice/me2lovechat
        </title>
		<style>
		#body{
		
	display:flex;
	align-items:center;
	flex-direction:column;
  width:100%;
		}
		</style>
    </head>
    <body id="body">
        <h1>
        me2Lovechat
        </h1>
        <h2>Privacy Notice and About</h2>
		<p> me2Lovechat is an app developed by mat2 technologies, this app makes it easy for you to interact with other interesting users around the world
    ,more like a dating app,
  the term 'App' as used in this privacy notice and about, shall refer to me2Lovechat mobile app, website or rest Api,
when users use this app certain information about the users is collected, this enables this App to function the proper way</p>
<p> the information collected from the users of this app ia as listed below</p>
<h2>User Bio</h2>
<p>when you create account with me2lovechat, your full name, sex ,age, Email is collected and saved on that database, your email is private only to you, 
  but your name and age can be viewd by others registered users on this app, this help to ensure that other users can get to know you and maybe initiates interaction with you
  your privacy is very important to use, so we ensure that your data is saved in a secured database
</p>	
<h2>Location Of User 	</h2>
<p>this app makes use of location services, what this means is that , this app can request for the latitude and longitude of the user to geocode users current location, this ensures that
  other users can get to know users location for proper interaction ,

</p>
<h2>Chat message</h2>
<p>using this App, you are likely to engage in a chat conversation with other users, so you chat with other users is not saved on the server , rather is transmitted between the two users,
  so therefore , you chat is secured , 
</p>
<br/>
<br/>
<br/>
<br/>

<small>contact developer : talk2mat2@yahoo.com</small>
    </body>
</html>